@import '../../Variables.scss';

.menu-list{
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  row-gap: 4px;
  font-size: 14px;
  z-index: -1;
  padding-left: 8px;

  position: absolute;
  left: 100%;
}

.menu-list__item, .menu-list__item--move{
  width: fit-content;
  white-space: nowrap;
  padding: 6px 12px 6px 8px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-radius: 4px;
  cursor: pointer;
  transition: 85ms ease-in;
  background-color: rgba(0, 0, 0, .6);

  &:hover{
    transform: translateX(5px);
    background-color: rgba(0, 0, 0, .8);
  }
}
.menu-list__item--move{
  margin-left: 16px;
}

.menu-list__icon-wrapper{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-list__icon{
  width: 16px;
  fill: #fff;
}

// Animasi untuk dropdown dari CSSTransition
.fade-appear {
  opacity: 0;
  transform: translateX(-30%);
}
.fade-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}

.menu-fade-appear {
  opacity: 0;
  transform: translateX(-30%);
}
.menu-fade-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms;
}