@import "../../Variables.scss";

.todo__item {
  width: 100%;
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  cursor: pointer;
  border-radius: 4px;
  color: #172b4d;
  background-color: #fff;
  position: relative;
  margin-bottom: 8px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  text-align: left;

  &:hover {
    background-color: #f4f5f7;
  }
}

.item__main {
  display: flex;
  position: relative;
}

.item__task {
  width: 100%;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 20px;
}
.item__task--hidden {
  display: none;
}
.item__task--done {
  text-decoration-line: line-through;
}

.item__dropdown {
  position: relative;
  border: none;
  cursor: pointer;
  background-color: $light-gray;
}

.item__edit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.6);
}
.item__edit__card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 256px;
  position: absolute;
}
.item__edit__input {
  width: 100%;
  height: 90px;
  border: none;
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 6px 8px 24px 8px;
  color: #172b4d;
  font: normal 14px "Public Sans", sans-serif;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
}
