@import '../../Variables.scss';

.todo__add-list, .todo__add-list--open{
  white-space: normal;
  width: 272px;
  height: fit-content;
  // padding: 4px;
  display: inline-flex;
  flex-direction: column;
  margin: 0 8px;
  border-radius: 4px;
  // transition: 85ms ease-in;
}

.todo__add-list{
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: .1);

  &:hover{
    background-color: rgba($color: #000000, $alpha: .2)
  }
}

.todo__add-list--open{
  background-color: $bg-list;
}

.add-list__open{
  padding: 8px 12px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  transition: 85ms ease-in;
  color: $text-secondary;
}

.add-list__form{
  padding: 4px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  // z-index: 2;
}

.add-list__input{
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #0079bf;
  transition: margin 85ms ease-in, background 85ms ease-in;
}