$text-primary: #172b4d;
$text-secondary: #5e6c84;
$icon-1: #6b778c;


$black-1:#333;
$gold: #CA8F48;
$light-gray: #E5E5E5;
$bg-card: #f6f6f6;
$red: #EB5757;

$size-lg: 991px;
$size-md: 768px;
$size-sm: 576px;