@import '../../Variables.scss';

// .todo__add{
  
// }
.todo__add__open{
  margin: 2px 8px 8px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  column-gap: 2px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  transition: 85ms ease-in;
  color: $text-secondary;
  vertical-align: top;

  &:hover{
    // background-color: #dcdde0;
    background-color: rgba(9,30,66,.08);
  }
}
.plus__icon{
  stroke: $icon-1;
}